h1 {
    color: #f3efef;
    text-align: center;
}
.display-block {
    margin: 00px;
    padding: 20Px;
    border: 10px solid color black;
    background-color: #e70909;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: red
}